<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="fonts/f1.css" rel="stylesheet">
<link href="fonts/f2.css" rel="stylesheet">
<link href="fonts/f3.css" rel="stylesheet">

</head>
<body>

<header class="item header margin-top-0">
<div class="wrapper">
	<nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
			<i class="fa fa-bars"></i>
			<span class="sr-only">Toggle navigation</span>
			</button>
			<a href="/" class="navbar-brand brand">SMCS</a>
		</div>
		<div id="navbar-collapse-02" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="propClone"><a href="/">Home</a></li>
				<!--<li class="propClone"><a href="about.html">About</a></li>-->
				<li class="propClone"><a href="/user/signup">Sign-Up</a></li>
				<li class="propClone"><a href="/admin/signin">Admin-Sign-In</a></li>
				<li class="propClone"><a href="/user/signin">User-Sign-In</a></li>
				<li class="propClone"><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="text-homeimage">
					<div class="maintext-image" data-scrollreveal="enter top over 1.0s after 0.1s">
						 <p class="text-white"><b>Secure Message Comunication System</b></p>
					</div>
					<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
						<p class="text-primary"><b>SMCS</b></p>  
						 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</header>
<hr style="width:50%;text-align:left;margin-left:0">

		<div class="row-2">
			<div class="col-md-6">
				<div class="productbox">
					<div class="fadeshop">
						<span class="maxproduct"><img src="images/secure.jpeg" alt=""></span>
					</div>
					<center>
						<h1>Security</h1>
						<h6>This is a Highly Secured Meesage Communication system</h6>
					</center>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="productbox">
					<div class="fadeshop">
						<span class="maxproduct"><img src="images/encry.jpeg" alt=""></span>
					</div>
					<center>
						<h1>Encryption</h1>
						<h6>End to End encrypted communication system</h6>
					</center>
				</div>
		</div>
	</div>
<hr style="width:50%;text-align:left;margin-left:0">

<div class="footer text-center">
	<div class="container">
		<div class="row-2">
			<p>
				 <h3>&copy; 2021 Secure Message Comunication System<br/></h3>
			</p>
		</div>
	</div>
</div>

<script src="js/jquery-.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/anim.js"></script>

	
</body>
</html>